
body{
  text-align: center;
  width: 40%;
  margin: auto;
}

h1 {
  font-family: 'Bad Script', cursive;
  color: orangered;
}

p {
  text-align: left;
  font-family: 'Lato', sans-serif;
}

.starterImage{
  width: 16em;
}
